# Python bytecode/cache
__pycache__/
**/__pycache__/
io/__pycache__/
*.py[cod]
*.pyc
**.pyc
*.cpython-*.pyc

#venv
venv/
.venv/

#python itself
python

# macOS Finder metadata
.DS_Store
.DStore

#build
build/
dist/
EphemeralDaddy.spec